.wrapper{
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    color: #000;
    font-size: 48px;
    font-family: Domine;
}

.content{
    color: #000;
    text-align: center;
    font-size: 32px;
    font-family: Domine;
    line-height: 56px;
}

@media screen and (max-width:1000px) {

    .wrapper{
        height: 82vh;
    }
    .title{
        font-size: 30px;
    }

    .content{
        font-size: 22px;
        line-height: 40px;
    }
}