.wrapper{
    display: flex;
    margin-left: 2rem;
}

.events{
    font-family: Domine;
    font-size: 53px;
    font-weight: 400;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
}

@media screen and (max-width:1000px) {
    .wrapper{
        margin-left: 0rem;
    }
    .events{
        font-size: 40px;
    }
}